<head>
   <%= javascript_include_tag 'nearby_places_weather.js' %>
</head>
<body>
<div class="span7">
  <div class="hero-unit span6">  
    <div class="row">
    <h2 style="text-align : center;"> Today </h2>
   
      <div class="span3">
        <div class="row">
          <div class="span1">          
            <p> <%= image_tag "http://www.google.com#{@icon}" %> </p>
          </div>
          <div class=span2>
            <p> <%= @resume%> </p>
            <p> <%= @city %>, <%= @state%> </p>
            <p> <%= @country %> </p>
            <p> <%= @zip_code %> </p>
          </div>
        </div>  
      </div> 
      <div class="span3">  
        <p> Temp : <%= @temp_c %>째C / <%= @temp_f %>째F </p>
        <p> <%= @humidity %> </p>
        <p> <%= @wind %> </p>
      </div>
    </div>
    
    <div class="row" >
      <% @forecast_conditions.each do |forecast| %>
        <div class="span3" style="margin: 5px ; padding: 5px; border: 1px solid">
          <h4><%= forecast.day_of_week %></h4>
          <div class="row">
            <div class="span1">
              <p> <%= image_tag "http://www.google.com#{forecast.icon}" %> </p>
            </div>
            <div class="span2" >
              <h4><%= forecast.condition %></h4>
              <h4> Low = <%= ApiCaller.tempc(forecast.low)%>째C </h4>
              <h4> High= <%= ApiCaller.tempc(forecast.high)%>째C </h4>
            </div>
          </div>    
          
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="row-fluid">
    <% i = 1 %>
    <% @products.each do |product| %>
      <% unless i==4 %>
        <div class="span4">
          <h2><%=  product.name %> </h2>
          <p class="thumbnail" style="width: 185px; height: 80px; overflow: hidden !important;">
                <% if product.photo.exists? then %>
                  <%= image_tag product.photo.url(:small) %>
                <% else %>
                          No Preview
            <% end %>
          </p>  
          <p><%= raw truncate(product.description, :length => 50) %></p>
          <p>
            <a class='btn' href=<%= product_path(product.id) %>>View Detail</a>   
         </p>
        </div>
        <%i=i+1%>
      <%else%>
        </div>
        <div class="row-fluid">
         <div class="span4">
          <h2><%=product.name %> </h2>
          <p class="thumbnail" style="width: 185px; height: 80px; overflow: hidden !important;">
            <% if product.photo.exists? then %>
	            <%= image_tag product.photo.url(:small) %>
	          <% else %>
	            No Preview
            <% end %>
          </p>  
          <p><%= truncate(product.description, :length => 50) %></p>
          <p>
            <a class='btn' href=<%= product_path(product.id) %>>View Detail</a>
         </p>
        </div>
       
        <% i=1 %>
      <%end%>
    <%end%>
  </div>
</div>

</body>
